### Obligatory
DISCORD_TOKEN=<token given by discord>

### Optional
# This is used for commands of category BOT_OWNER
BOT_OWNER_DISCORD_ID=<your discord id>

### Not implemented yet but needed in the future

# API used to check malicious links
ABUSECH_API_KEY=<api key>

# API used for AI chat command
OPENROUTER_API_KEY=<api key>

DATABASE_URL=<database url>