### Obligatory
DISCORD_TOKEN=<token given by discord>

### Optional

### Not implemented yet but needed in the future

# API used to check malicious links
ABUSECH_API_KEY=<api key>

# API used for AI chat command
OPENROUTER_API_KEY=<api key>